aws_region          = "us-east-1"
environment         = "prod"
owner               = "NimbusTech"
cost_center         = "NIMBUS-APP"
vpc_cidr            = "10.20.0.0/16"
app_port            = 3000
db_port             = 5432
db_name             = "nimbus"
db_username         = "nimbusadmin"
rds_engine_version  = "18"
certificate_arn     = ""
# db_password = "DO NOT COMMIT REAL SECRETS"
